progress {
  -webkit-appearance: none;
  position: relative;
  width: 150px;
  height: 17px;
  border-radius: 5px;
  padding: 4px;
  background: #000;
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.1);
  transform: rotate(-90deg) translate(-17px, -87px);

  -webkit-box-reflect: below -3px -webkit-radial-gradient(
      50% 70%,
      50% 25%,
      hsla(0, 0%, 0%, 0.2) 0%,
      hsla(0, 0%, 0%, 0) 95%
    );

  &::-webkit-progress-bar {
    background-color: hsl(200, 10%, 14%);
    background-size: 2px 5px;
    background-image: -webkit-linear-gradient(
        0deg,
        hsla(0, 0%, 0%, 0.4) 1px,
        hsla(0, 0%, 0%, 0) 1px
      ),
      -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 1px, hsla(0, 0%, 0%, 0)
            1px);
  }

  &::-webkit-progress-value {
    background-size: inherit;
    background-image: inherit;
    background-color: hsl(200, 100%, 50%);
    box-shadow: 0 0 10px 2px hsla(200, 100%, 50%, 0.4);
    transition: width 1s cubic-bezier(0.2, 0.1, 0.2, 1);
  }
}
